.header__nav-item {
  margin: 0;
}

@media (max-width: 870px) {
  .header__nav-item {
    margin-top: 40px;
    margin-right: 20px;
  }
}

@media (max-width: 500px) {
  .header__nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
