.content__button-add {
  background: url(../../../images/logo/addButtonSmall.svg) no-repeat center;
  background-size: contain;
  border: none;
  width: 150px;
  height: 50px;
  padding: 0;
  transition: 0.3s ease-in-out 0.1s;
  align-self: center;
}

.content__button-add:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media (max-width: 1200px) {
  .content__button-add {
    margin-top: 33px;
    background: url(../../../images/logo/addButton.svg);
    width: 282px;
  }
}
