.register__subtitle {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.21em;
  color: #fff;
  text-align: center;
  margin: 0;
  margin-top: 15px;
}

@media (max-width: 500px) {
  .register__subtitle {
    font-size: 14px;
  }
}
