.register__login-link {
  text-decoration: none;
  margin-left: 5px;
  padding-left: 5px;
}

.register__login-link:hover {
  opacity: 0.8;
  transition: 0.2s ease-in-out;
}

@media (max-width: 500px) {
  .register__login-link {
    margin-left: 0;
  }
}
